html * {
	font-family: "Inconsolata", "Courier", monospace !important;
	color: #657b83;
}

nav {
	background-color: #eee8d5;
	margin-bottom: 0px;
}

body {
	background-color: #eee8d5;
	padding-top: 80px;
}

footer {
	background-color: #eee8d5;
	margin-top: 30px;
}	

.link {
	color: #268bd2;
}

#content {
	background-color: #fdf6e3;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-right: 100px;
	margin-left: 100px;
}

#content div {
	overflow: auto;
}

